#out {
    white-space: pre-wrap;
}

.center {
    margin: auto;
    width: 50%;
}

body {
    background-color: #C9F2FF;
}

#hbox {
    color: #C9F2FF;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #55687A;
    width: 402px;
    border: 100px #55687A;
    padding: 50px;
    margin: 25px;
}
#box {
    color:#C9F2FF;
    border-radius: 15px 50px;
    background-color: #3B4753;
    width: 400px;
    border: 100px #3B4753;
    padding: 50px;
    margin: 25px;
}
#outbox {
    color:#C9F2FF;
    border-radius: 15px 50px;
    background-color: #3B4753;
    width: 400px;
    border: 100px #3B4753;
    padding: 50px;
    margin: 25px;
}
#infoupdatebox {
    border: none;
    color:#C9F2FF;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50px;
    background-color: #3B4753;
    width: 400px;
    border: 100px #3B4753;
    padding: 50px;
    margin: 25px;
}
#infobox {
    color:#C9F2FF;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 50px;
    background-color: #3B4753;
    width: 400px;
    border: 100px #3B4753;
    padding: 50px;
    margin: 25px;
}
#helpbox {
    /*position: absolute;*/
    /*top: 40px;*/
    /*right: 10px;*/
    position: relative;
    top:-560px;
    left: 550px;
    color:#C9F2FF;
    font-size: 14px;
    border-radius: 15px 50px;
    background-color: #3B4753;
    width: 400px;
    border: 100px #3B4753;
    padding: 50px;
    margin: 25px;
}
#rolebox {
    position: absolute;
    top: 40px;
    left: 60px;
    color:#C9F2FF;
    font-size: 30px;
    border-radius: 15px 50px;
    background-color: #3B4753;
    width: 200px;
    border: 100px #3B4753;
    padding: 20px;
    margin: 25px;
}
#coursesbox {

}

a{
    color: #C9F2FF;
    text-decoration: none;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #FFA16B;
    padding: 25px;
    margin: 25px;
}
l{
    color: #C9F2FF;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px #232B32;
}