{% extends "base.html" %}
{% block content %}
    <h1 id="hbox">TA Scheduling App: Login</h1>
    <link rel="stylesheet" href="/TA_Scheduling_App/static/css/style.css" />

    <form method="post" action="/" id="box">
        {% csrf_token %}
        <l>username: </l> <input type="text" name="username"/><br>
        <l>password:  </l> <input type="password" name="password"/>
        <input type="submit" name="login" value="Login"/>
    </form>

    <div id="out">
        {{out|linebreaks}}
    </div>

{%  endblock %}