{% extends "base.html" %}
{% block content %}
    <a href="/edit/">ACCOUNT</a><a href="/">LOGOUT</a>

    <h1 id="hbox">TA Scheduling App: Main</h1>
    <link rel="stylesheet" href="/TA_Scheduling_App/static/css/style.css" />


    <form method="post" action="/main/" id="box">
        {% csrf_token %}
        <l>command: </l> <input type="text" name="command"/><input type="submit" name="commandbutton" value="Submit"/>
    </form>
    <div id="outbox">
        {{out|linebreaks}}
    </div>
    <div id="helpbox">
        {{help|linebreaks}}
    </div>
    <div id="rolebox">
        {{ role|linebreaks }}
    </div>

{% endblock content %}